.title {
    color: var(--light1);
    position: sticky;
    top: 0;
    background-color: var(--dark1);
    z-index: 999;
    padding-top: var(--p-body);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px solid var(--dark2); */
}

.title h1 {
    font-size: 1rem;
    text-align: center;
}

.title h1:nth-child(1) {
    color: white;
}

.floating_btn {
    width: 60px;
    aspect-ratio: 1/1;
    position: relative;
    background: var(--cl4);
    font-size: 1rem;
    color: var(--dark1) !important;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.items {
    width: 100%;
    max-width: 500px;
    background-color: var(--dark1);
    /* border: 2px solid var(--dark3); */
    padding-inline: var(--p-body);
    padding-block: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media (min-width:1024px) {
        transform: translateY(0rem);
    }
}

.items p {
    color: var(--light1);
}

.level_option {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--dark2);
    border: 2px solid var(--dark3);
    width: fit-content;
}

.level_option .radio {
    width: fit-content;
    padding: 0.75rem;
    border: 0.5rem solid var(--dark3);
    border-radius: 5rem;
    position: relative;
    display: grid;
    place-items: center;
}

.level_option .radio h1 {
    color: var(--dark1);
    font-size: 1rem;
    text-transform: uppercase;
}

.level_option .radio:nth-child(1) {
    background-color: var(--danger);
}
.level_option .radio:nth-child(2) {
    background-color: var(--warning);
}
.level_option .radio:nth-child(3) {
    background-color: var(--ok);
}

.level_option .radio input {
    display: none;
}

.level_option .radio:has(input:checked) {
    content: "";
    border-color: rgb(49, 49, 49);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.form h1 {
    color: var(--light1);
    font-size: 1.5rem;
}

.inputDesc {
    padding: 1rem;
    border: none;
    height: 150px;
    background-color: var(--dark2);
    border: 2px solid var(--dark3);
    color: var(--light1);
    outline: none;
    font-size: 1rem;
    font-weight: normal;
    resize: none;
}

.inputTitl {
    height: fit-content;
}


.form button {
    width: 100%;
    border: none;
    background-color: transparent;
    padding-block: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0.5rem;
    border-top: 2px solid var(--dark2);
}

.form button h1 {
    font-size: 1rem;
    color: var(--cl1);
}

.deadlineToggle {
    color: var(--light1);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.deadlineToggle p {
    font-size: 1rem;
}

.deadlineToggle label {
    width: 25px;
    aspect-ratio: 1/1;
    display: block;
    background-color: var(--dark2);
    border: 2px solid var(--dark3);
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.deadlineToggle label svg {
    width: 15px;
    height: 15px;
    opacity: 0;
    color: var(--dark1);
}

.deadlineToggle label:has(input:checked) {
    content: "y";
    background-color: var(--cl4);
}

.deadlineToggle label:has(input:checked) svg {
    opacity: 1;
}

.deadlineToggle label input {
    opacity: 0;
    position: absolute;
    width: 25px;
    aspect-ratio: 1/1;
    left: 0;
}

.deadlineDate, .deadlineTime {
    background-color: var(--dark2);
    border: 2px solid var(--dark3);
    user-select: none !important;
    color: var(--light1) !important;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.deadlineDate::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}


