.items {
	padding-top: 1rem;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: flex-start;
	background: var(--dark1);
	gap: 1rem;
}

.group {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	flex: 0;
	min-width: 300px;
}

.today h1 {
	/*background-color: var(--cl1);*/
	border: 2px solid var(--dark3);
	color: var(--cl1);
}

.header_item {
	display: flex;
	gap: 0.5rem;
	height: fit-content;
	order: 1;
	position: sticky;
	top: 0;
}

:is(.title_level, .count_level) {
	padding: 0.5rem 1rem;
	color: var(--gray1);
	font-size: 1rem;
	text-transform: uppercase;
	width: auto;
	min-width: fit-content;
	align-self: flex-start;
	border: 2px solid var(--dark3);
	background: var(--dark2);
	align-self: stretch;
	display: flex;
	place-items: center;
	margin-bottom: 10px;
	position: relative;
}

.title_level {
	gap: 0.5rem;
	display: flex;
	flex: 1;
}

.title_level .today_indicator {
	width: 0.75rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	display: block;
	font-family: var(--font1) !important;
	background-color: var(--cl1);
	animation: kedip 1.5s infinite;
}

@keyframes kedip {
	0% {
		scale: 1;
		opacity: 1;
	} 50% {
		scale: 0.75;
		opacity: 0.25;
	} 100% {
		scale: 1;
		opacity: 1;
	}
}

.title_level .Important {
	background-color: var(--danger);
	font-family: var(--font1);
	border: 2px solid var(--dark3);
}

.title_level .Warning {
	background-color: var(--warning);
	font-family: var(--font1);
	border: 2px solid var(--dark3);
}

.title_level .Normal {
	background-color: var(--ok);
	font-family: var(--font1);
	border: 2px solid var(--dark3);
}

.title_level::before {
	content: "";
	width: 2px;
	height: 50%;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: var(--dark3);
	transform: translateY(100%) translateX(-2px);
}

.count_level::before {
	content: "";
	position: absolute;
	width: 0.5rem;
	left: calc(-0.5rem + -2px);
	height: 2px;
	background-color: var(--dark3);
}

.empty_state {
	color: var(--light1);
	display: flex;
	align-self: center;
	justify-self: center;
	align-items: center;
	justify-content: center;
	height: stretch;
	flex-direction: column;
	padding-block: var(--p-body);
	grid-column: 2;
	flex: 1;
}

.empty_state h3 {
	text-transform: uppercase;
}

.empty_state p {
	color: var(--gray1);
	text-align: center;
}

.empty_state svg {
	color: var(--ok);
}

@media (max-width: 747px) {
	.group {
		flex: 0;
		min-width: auto;
		width: 100%;
	}

	.title_level {
		width: fit-content;
		flex: 0;
	}
}
