@font-face {
	font-family: "degular";
	src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("woff2");
}
:root {
	--dark1: #04050D;
	--dark2: #0D1117;
	--dark3: #d4dfe3;
	--cl4: #141414;

	--gray1: #262626;
	--gray2: #353535;
	--cl1: #73bcec;
	--cl2: #f77171;
	
	--light1: #F7F7F7;

	--danger: #bc4b51;
	--warning: #f4a259;
	--ok: #06d6a0;

	/* --danger: #ef476f;
  --warning: #ffd166;
  --ok: #06d6a0; */

	--p-body: 2rem;

	--font1: "degular";
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font1) !important;
	user-select: none;
	outline: none;
}

input {
	letter-spacing: 0.2px;
}

::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
}

body {
	width: 100%;
	background-color: var(--dark1);
}
